<div class="list-container">
  <app-pokemon-filters (filterChange)="onFilterChange($event)" />

  <div class="list-container__content" *ngIf="cards$ | async as cards; else noResults">
    <ng-container *ngIf="cards.length > 0; else noResults">
      <div *ngFor="let card of cards">
        <a [routerLink]="['/pokemon-details', card.id]">
          <app-pokemon-card [card]="card"></app-pokemon-card>
        </a>
      </div>
    </ng-container>
  </div>
  <mat-paginator
    class="list-container__paginator"
    [length]="totalCount"
    [pageSize]="pageSize"
    [pageSizeOptions]="[10, 20, 50, 100]"
    (page)="onPageChange($event)">
  </mat-paginator>
</div>

<ng-template #noResults>
  <p class="list-container__no-results">No Pokemon found.</p>
</ng-template>
