@import 'mixins';

:host {
  height: 100%;
  width: 100%;
  margin: 12px;
}

.header {
  height: 100%;
  @include flex-center;

  &__link-container {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
}
