:host {
  height: 100%;
  width: 100%;
}

.header {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__link-container {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
  }
}
