@import 'mixins';
@import 'colors';

.pokemon-cards {
  @include min-width(xs) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 12px;
  }

  &__no-results {
    text-align: center;
    align-self: center;
    font-size: 16px;
    font-weight: 600;
    margin: 12px 0;
    color: $lightgray-color;
  }
}
