@import 'variables';
@import 'mixins';
@import 'colors';

.header {
  height: $header-height;
  background-color: $white-color;
  color: $white-color;
  @include flex-center;

  .header-title {
    font-size: 24px;
    font-weight: bold;
  }
}
