h1, h2, h3, h4, h5, h6 {
  color: $primary-color;
}

@include min-width(xs) {
  body {
    font-size: 14px;
  }

  h1 {
    font-size: 24px;
  }
}

@include min-width(sm) {
  body {
    font-size: 16px;
  }

  h1 {
    font-size: 28px;
  }
}

@include min-width(md) {
  body {
    font-size: 18px;
  }

  h1 {
    font-size: 32px;
  }
}

@include min-width(lg) {
  body {
    font-size: 20px;
  }

  h1 {
    font-size: 36px;
  }
}
