body {
  font-family: $font-family;
  color: $font-color;
}

h1, h2, h3, h4, h5, h6 {
  color: $primary-color;
}

@include respond-to(xs) {
  body {
    font-size: 14px;
  }

  h1 {
    font-size: 24px;
  }
}

@include respond-to(sm) {
  body {
    font-size: 16px;
  }

  h1 {
    font-size: 28px;
  }
}

@include respond-to(md) {
  body {
    font-size: 18px;
  }

  h1 {
    font-size: 32px;
  }
}

@include respond-to(lg) {
  body {
    font-size: 20px;
  }

  h1 {
    font-size: 36px;
  }
}
