// Define color variables
$primary-color: #FB1B1B;
$secondary-color: #2ecc71;
$font-color: #333;
$header-color: gray;

// Define other constants
$font-family: 'Roboto', sans-serif;
$header-height: 60px;

// Define breakpoints
$breakpoint-xs: 480px;
$breakpoint-sm: 768px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1200px;
