@import 'main';

body {
  display: flex;
  flex-direction: column;
  font-family: $font-family;
  color: $font-color;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
}

html, body {
  height: 100%;
  margin: 0;
}
